
html{
    background: radial-gradient(circle, white, white, black);
}



.header{
    background-color: black;
    opacity: 0.8;
/*    background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));*/
}

footer{
    background-color: black;
    opacity: 0.8;
    color: white;
    text-align: center;
    padding: 30px;
}
    

body{   
    margin: 60px;
    padding: 60px;
}

.list ul{   
    width: 100%;
}

.list li{      
    float: left;
    padding: 20px;
    padding-right: 80px;
    list-style: none;
     
}
.me{
    width: 25%;
    float: left;
}

.clearfix::after{
    
    content:"";
    clear: both;
    display: table;
    
}

.column{
    float: left;
    text-align: center;
    width: 75%;
    margin: 0;
    padding: 0;
    color: black;
}

.column2{
    float: left;
    width: 100%;
}
.column2 li{
    list-style: square;
    padding: inherit;
}

.ok2{
    padding: 150px;
}

a{  
    color: black;
    text-decoration: none;
}


a:hover{
    color: whitesmoke;
}

a:active{
    color: darkgray;
}

